
head
  title Microscope
 body
    .container
      header(class='navbar navbar-default' role='navigation')
       div(class='navbar-header')
        a.navbar-brand(href="/") 
         | Microscope
      div(id='main')
       +postsList
